#!/bin/bash
set -euo pipefail
trap "exit" SIGHUP SIGINT SIGTERM

# Array degli IP dai template Jinja2
ip_addresses=({% for ip in ip_priv_rsync_nodes %}"{{ ip }}"{% if not loop.last %} {% endif %}{% endfor %})

SRC_DIR="{{ certbot_data_volume }}"
LOG_FILE="/var/log/rsync-certbot.log"
SSH_KEY="/home/certbot/.ssh/{{ ssh_key_name }}"
USER="certbot"

# Controllo che la chiave SSH esista
if [ ! -f "$SSH_KEY" ]; then
    echo "$(date) [sync] ERRORE: chiave SSH $SSH_KEY non trovata!" >> "$LOG_FILE"
    exit 1
fi

# Imposta permessi
chown -R "$USER":"$USER" "$SRC_DIR"

# Controlla se la cartella esiste
if [ -d "$SRC_DIR" ]; then
    # Calcola hash della cartella escludendo last_update
    tar -cf - --exclude last_update -C "$SRC_DIR" . | sha1sum > "$SRC_DIR/last_update"

    # Loop su tutti gli host
    for HOST_IP in "${ip_addresses[@]}"; do
        if rsync -a -s -e "ssh -i $SSH_KEY -o StrictHostKeyChecking=no" "$SRC_DIR/" "$USER@$HOST_IP:$SRC_DIR/"; then
            echo "$(date) [sync] Rsync della cartella $SRC_DIR correttamente effettuato! - Host: $HOST_IP" >> "$LOG_FILE"
        else
            echo "$(date) [sync] ERRORE Rsync fallito per Host: $HOST_IP" >> "$LOG_FILE"
        fi
    done
else
    echo "$(date) [sync] Cartella $SRC_DIR non trovata, skipping sync." >> "$LOG_FILE"
fi
